<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.generator.mapper.SjgsdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zw.generator.entity.Sjgsd">
    <result column="id" property="id" />
        <result column="sjhmq7" property="sjhmq7" />
        <result column="gsdyys" property="gsdyys" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        sjhmq7, gsdyys
    </sql>

</mapper>
